:root {
    /* Light mode (Peter Parker's suit) */
    --primary-color: #C8102E; /* Spider-Man Red */
    --secondary-color: #0033A0; /* Spider-Man Blue */
    --background-color: #F0F0F0; /* Light Grey */
    --text-color: #333333; /* Dark Grey */
    --highlight-color: #F1C40F; /* Spider-Man Yellow */

    /* Dark mode (Miles Morales' suit) */
    --dark-background-color: #1C1C1C; /* Very Dark Grey */
    --dark-text-color: #EAEAEA; /* Light Grey */
    --dark-primary-color: #D32F2F; /* Miles Morales Red */
    --dark-secondary-color: #000000; /* Black */
    --dark-highlight-color: #1E88E5; /* Miles Morales Blue */
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
}

.title-text {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: color 0.5s ease;
}

.title-text::before,
.title-text::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(10px);
}

.title-text::before {
    content: attr(data-hover);
    color: var(--highlight-color);
}

.title-text::after {
    content: '';
    background-color: var(--primary-color);
    z-index: -1;
}

.title-text:hover {
    color: transparent;
}

.title-text:hover::before,
.title-text:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

nav {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: stretch;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

nav ul li a.active {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

section {
    padding: 2rem;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

#personal-info {
    display: flex;
    align-items: flex-start;
}

.about-me-content {
    flex-grow: 1;
    padding-left: 2rem;
}

h2 {
    color: var(--text-color);
}

.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.dark-mode header {
    background-color: var(--dark-primary-color);
    color: var(--dark-secondary-color);
}

.dark-mode .title-text::before {
    color: var(--dark-background-color);
}

.dark-mode .title-text::after {
    background-color: var(--dark-primary-color);
}

.dark-mode nav {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
}

.dark-mode h2 {
    color: var(--dark-text-color);
}

.dark-mode nav ul li a {
    color: var(--dark-text-color);
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode nav ul li a:hover {
    background-color: var(--dark-highlight-color);
}

.dark-mode nav ul li a.active {
    background-color: var(--dark-primary-color);
    color: var(--dark-secondary-color);
}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border: none;
    cursor: pointer;
}

.footer {
    padding: 2rem;
}

.timeline-container {
    display: flex;
    height: 600px;
    margin-top: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline {
    width: 250px;
    padding: 20px;
    background-color: var(--background-color);
    border-right: 1px solid var(--secondary-color);
}

.timeline h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.timeline-buttons {
    display: flex;
    flex-direction: column;
}

.timeline-button {
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    font-size: 1rem;
    color: var(--secondary-color);
}

.timeline-button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
}

.timeline-button.active {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
    font-weight: bold;
}

.timeline-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 30px;
    background-color: var(--dark-background-color);
}

.experience-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.experience-item h4 {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.experience-item p {
    color: var(--text-color);
    line-height: 1.5;
}

/* Dark mode styles */
.dark-mode .timeline-container {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode .timeline {
    background-color: var(--dark-background-color);
    border-right-color: var(--dark-secondary-color);
}

.dark-mode .timeline h3 {
    color: var(--dark-primary-color);
}

.dark-mode .timeline-button {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
}

.dark-mode .timeline-button:hover {
    background-color: var(--dark-highlight-color);
}

.dark-mode .timeline-button.active {
    background-color: var(--dark-primary-color);
    color: var(--dark-background-color);
}

.dark-mode .timeline-content {
    background-color: var(--dark-background-color);
}

.dark-mode .experience-item {
    background-color: var(--dark-background-color);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .experience-item h3 {
    color: var(--dark-primary-color);
}

.dark-mode .experience-item h4 {
    color: var(--dark-primary-color);
}

.dark-mode .experience-item p {
    color: var(--dark-text-color);
}
